.only-mobile {
  background-color: var(--yellow);
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

/*645px까지는 display 하지말것*/
@media screen and (max-width: 645px) {
  .only-mobile {
    display: none;
  }
}
