.screen-header {
  padding: 50px var(--horizontal-space) 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons {
  display: flex;
  justify-content: flex-end;
}

.screen-header span {
  margin-left: 25px;
}

.screen-header__dot {
  display: block;
  width: 8px;
  height: 8px;
  background-color: tomato;
  border-radius: 4px;
  position: absolute;
  right: 15px;
  bottom: 45px;
}
