@import "reset.css";
@import "variable.css";

/*Components*/
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/badge.css";
@import "component/icon-row.css";
@import "component/alt-screen-header.css";
@import "component/only-mobile.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

/*style.css: 모든 스크린에 적용될 수 있는 스타일 작성*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #2e363e;
  overflow: auto;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
