.friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-bottom: 10px;
}

/*icon 색상 변경은 text 처럼 취급*/
.fa-info-circle {
  color: rgba(0, 0, 0, 0.3);
}

.fa-chevron-right {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

/*animation*/
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    /*visibility:hidden을 하지 않으면 브라우저에서 없어지는 것이 아니므로 꼭 해줘야 함!*/
    /*브라우저에서 없어지는 것이 아니라 단순히 element를 무시하게 만든 것*/
    visibility: hidden;
  }
}

.splash-screen {
  background-color: var(--yellow);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  font-size: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*forwards는 애니메이션의 마지막 keyframe(opacity:0)를 기억함*/
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
}
